* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}

/* utils */
.d-flex {
    display: flex;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.fb-25 {
    flex-basis: 25%;
}

.fb-50 {
    flex-basis: 50%;
}

.fb-30 {
    flex-basis: 30%;
}

.row {
    justify-content: space-between;
    margin-top: 100px;
}

/* header */

header {
    z-index: 1;
    height: 80px;
    background-color: #FF6900;
    position: fixed;
    width: 100%;
    box-shadow: 3px 3px 5px grey;
}

.personal {
    text-align: right;
}

.nav-bar {
    line-height: 80px;
}

.logo {
    align-items: center;
    justify-content: center;
}

.img-logo {
    height: 40px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin: 5px
}

/*  main */
main {
    padding-top: 80px;
}

/* cards */
.discount {
    font-size: 18px;
    color: white;
    background-color: red;
    padding: 5px 10px;
    font-weight: 600;
}

.eco {
    color: white;
    font-size: 18px;
    background-color: #008000;
    padding: 5px 10px;
    font-weight: 600;
}

.label {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.add-favourite {
    font-size: 30px;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 20px;
}

/* dettaglio captions */

.brand {
    font-size: 12px;
}

.item-description {
    font-weight: 700;
}

.new-price {
    color: red;
    font-weight: 600;
    margin-right: 10px;
}

.old-price {
    text-decoration: line-through;
}

/* dettaglio immagini */

.img-item {
    position: relative;
    width: 500px;
    height: 700px;
    display: block;
    background-position: center;
    background-size: cover;
}

#img-1 {
    background-image: url(../img/1.webp);
}

#img-2 {
    background-image: url(../img/2.webp);
}

#img-3 {
    background-image: url(../img/3.webp);
}

#img-4 {
    background-image: url(../img/4.webp);
}

#img-5 {
    background-image: url(../img/5.webp);
}

#img-6 {
    background-image: url(../img/6.webp);
}

/*  hovers */

#img-1:hover {
    background-image: url(../img/1b.webp);
}

#img-2:hover {
    background-image: url(../img/2b.webp);
}

#img-3:hover {
    background-image: url(../img/3b.webp);
}

#img-4:hover {
    background-image: url(../img/4b.webp);
}

#img-5:hover {
    background-image: url(../img/5b.webp);
}

#img-6:hover {
    background-image: url(../img/6b.webp);
}

.add-favourite:hover {
    color: red
}

/* footer */

footer {
    margin-top: 100px;

    background-color: #1A1A1A;
    color: #fff;
}

.info-azienda a {
    text-decoration: none;
    color: #fff;
    font-size: 10px;
}

.info {
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.info-social a {
    color: #fff;
    font-size: 20px;
}

h6 {
    margin-bottom: 15px;
}